
<div class="lux-jumbotron py-5 mb-5">
  <div class="container">
    <h1 class="display-4">Welcome to Global Towns, learning by playing</h1>
    <hr class="my-4">
    <p class="lead">An innovative educational and entertainment experience designed for kids aged 5-9, where children explore real-life roles such as police officers, doctors, firefighters, engineers, and more.</p>
    <p>These simulations will build values, awareness, and essential life skills.</p>
    
    <%= link_to "About Us", homecontrol_aboutus_path, class: "btn btn-primary btn-lg" %>
  </div>
<br/>

</div>

