<div id="<%= dom_id pin %>" class="pin">

  <% if pin.image.attached? %>
    <% if pin.image.image? %>
      <%= image_tag(
            pin.image.variant(resize_to_limit: [300, 300]),
            class: "pin-thumb"
          ) %>
    <% else %>
      <%= link_to "View PDF",
            url_for(pin.image),
            target: "_blank",
            rel: "noopener" %>
    <% end %>
  <% else %>
    <p>No file uploaded</p>
  <% end %>

  <div>
    <strong>Description:</strong>
    <%= pin.description %>
  </div>

</div>