
<div id="<%= dom_id pin %>" class="pin">
  <% if pin.image.attached? %>
    <%= image_tag pin.image.variant(resize_to_limit: [300, 300]), class: "pin-thumb" %>
  <% else %>
    <p>No image yet</p>
  <% end %>

  <div>
    <strong>Description:</strong>
    <%= pin.description %>
  </div>
</div>